html{
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    overflow-x: hidden;

    padding: 0;
}
h1,
h2,
h3,
h4,
h5{
    font-family: 'Montserrat', sans-serif;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: 10px 100px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.918);
    z-index: 900;
    transition: 0.5s;
}
nav.white {
    background-color: white;
    box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.0509);
    height: 50px;
}
nav .logo {
    float: left;
    color: white;
    margin: 5px;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 180%;
    line-height: 30px;

}
nav.white .logo {
    float: left;
    color: black;
    line-height: 20px;

}

nav ul{
    float: right;
    margin: 0;
    
    padding: 0;
    display: flex;
    list-style-type: none;
}
nav ul li a{
    line-height: 40px;
    color: white;
    padding: 5px 20px;
    text-decoration: none;
    transition: .5s;
    font-family: 'Montserrat', sans-serif;

}
.links{
    font-weight: 500;
    font-size: 110%;
    color: white;
}
nav.white ul li a{
    color: black;
    line-height: 40px;
    
}
.links:hover{
    color: #4cc9f0;
    transition: 0s;
    text-decoration: none ;
}
nav.white .links:hover{
    color: #032bad;
    transition: 0s;

}
#home{
    height: 100vh;
    display: flex;
}
#left{
        
    background-color: rgb(16, 24, 31);
    width: 45%;
    height: 100%;
    padding-left: 6%;
    padding-top: 10%;
    padding-right: 5%;
    font-size: larger;
}
#right{
    width: 55%;
    height: 100%;
}
slider {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #1f1f1f;
    overflow: hidden;
    position: absolute;
   }
   
   slider > * {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #1f1f1f;
    animation: slide 12s infinite;
    overflow: hidden;
   }
   
   slide:nth-child(1){
    animation-delay: -1s;
    background-image: url(one.jpg);
    background-size: cover;
    /* background-position: center; */
    background-attachment: fixed;
   }
   
   slide:nth-child(2){
    left: 100%;
    animation-delay: 2s;
    background-image: url(two.jpg);
    background-size: cover;
    /* background-position: center; */
    background-attachment: fixed;
   }
   
   slide:nth-child(3){
    left: 100%;
    animation-delay: 5s;
    background-image: url(three.jpg);
    background-size: cover;
    background-attachment: fixed;
    /* background-position: center; */
   }
   
   slide:nth-child(4){
    left: 100%;
    animation-delay: 8s;
    background-image: url(four.jpg);
    background-size: cover;
    /* background-position: center; */
    background-attachment: fixed;
   }
   @keyframes slide {
    0% { left: 100%; width: 100%; }
    5% { left: 0%; }
    25% { left: 0%; }
    30% { left: -100%; width: 100%; }
    30.0001% { left: -100%; width: 0%; }
    100% { left: 100%; width: 0%; }
   }
#about{
    
    width: 100%;
    background-color: white;
    padding: 5%;
    padding-top: 8%;
}   
.form-group{
    margin-top: 1%;
    font-weight: bolder;
}
.change{
    outline: none;
    border: none;
    background-color: rgb(22, 22, 22);
    color: white;
    padding: 0.7%;
}
.change:hover{
    background-color: black;
}
#footer{
    width: 100%;
    height: max-content;
    padding: 5%;
    background-color: black;
    color: white;
}
#week{
    display: inline-block;
    
    width: 100%;
}
.day{
    margin: 2%;
    display: inline-block;
    /* box-shadow: 0px 2px 6px 4px rgba(0, 0, 0, 0.0509); */
    width: 20vw;
    padding: 4%;
    transform-style: preserve-3d;
}
a:hover{
    text-decoration: none;
}
.face {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    transform: perspective(500px) rotateX(0deg);
    transition: 1s ease-in-out;
}
.day .front{

    background: transparent;
    border: 2px solid #312d2d;
    border-radius: 8%;
    color: #000000;
}
.day:hover .front{
    transform: perspective(500px) rotateX(180deg);   
}
.day .back{
    background: #312d2d;
    color: white;
    border-radius: 12%;
    transform: perspective(500px) rotateX(180deg);
}
.day:hover .back{
    transform: perspective(500px) rotateX(360deg);
}
.face h1{
    transform: perspective(500px) translateZ(50px);
}
.read{
    color: white;
}
.read:hover{
    color: white;
}