{%extends 'base.htm'%}

{%block content%}
<script type="text/javascript">
    $(window).on('scroll', function(){
        if($(window).scrollTop()){
            $('nav').addClass('white');
        }
        else{
            $('nav').removeClass('white');
        }
    })
</script>
<div id="home">
    
    <div id="left" style="color: white;">
        <h1>Metro Railway Network</h1>
        <h4>-Sheet Rock Hills</h4>
        <br><br><br>
        <p style="text-align: justify;">
        Metro Railway Network of Sheet Rock Hills, under the aegis of Handy-Manny Corporation, aims at providing you our service
        with minimum effort from your side.<br>
        Get started now.
        </p> <br><br>
        <a href="#about" style="font-size: larger; padding: 1.2%; border-radius: 10%; color: white; background: transparent; border: 2px solid white;">Go</a>
    </div>
    <div id="right">
        <slider>
        <slide></slide>
        <slide></slide>
        <slide></slide>
        <slide></slide>
        </slider>
    </div>
</div>
<div id="about">
<center>
    <h1 style="font-size: 340%;">Train Schedules</h1>
    <div id="week">
        <div class="day">
            <div class="face front">
            <h4>Monday</h4>
            </div>
            <div class="face back">
                <a class="read" href=""><h4>See Schedule</h4></a>
            </div>
        </div>
        <div class="day">
            <div class="face front">
            <h4>Tuesday</h4>
            </div>
            <div class="face back">
                <a class="read" href=""><h4>See Schedule</h4></a>
            </div>
        </div>
        <div class="day">
            <div class="face front">
            <h4>Wednesday</h4>
            </div>
            <div class="face back">
                <a class="read" href=""><h4>See Schedule</h4></a>
            </div>
        </div>
        <div class="day">
            <div class="face front">
            <h4>Thursday</h4>
            </div>
            <div class="face back">
                <a class="read" href=""><h4>See Schedule</h4></a>
            </div>
        </div>
        <div class="day">
            <div class="face front">
            <h4>Friday</h4>
            </div>
            <div class="face back">
                <a class="read" href=""><h4>See Schedule</h4></a>
            </div>
        </div>
        <div class="day">
            <div class="face front">
            <h4>Saturday</h4>
            </div>
            <div class="face back">
                <a class="read" href=""><h4>See Schedule</h4></a>
            </div>
        </div>
        <div class="day">
            <div class="face front">
            <h4>Sunday</h4>
            </div>
            <div class="face back">
                <a class="read" href=""><h4>See Schedule</h4></a>
            </div>
        </div>
    </div>
</center>
</div>
<div id="footer">
    Copyright &copy; Handy-Manny Corporation
</div>
{%endblock%}
