<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <style>
        body {
                margin-top: 20px;
            }
    </style>

    <title>reciept</title>
  </head>
  <body>
    <br><br>    <br><br>    <br><br>
    <div class="container">
        <div class="row">
            <div class="well col-xs-10 col-sm-10 col-md-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-3">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <address>
                            <strong>Metro</strong>
                            <br>
                            idk
                            <br>
                            delhi
                            <br>
                            <abbr title="Phone">P:</abbr> (213) 484-6829
                        </address>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 text-right">
                        <p>
                            <em>Date: 1st December, 3000</em>
                        </p>
                        <p>
                            <em>Receipt #: 34522677W</em>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="text-center">
                        <h1>Receipt</h1>
                    </div>
                    </span>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th class="text-center">Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="col-md-9"><em>Metro</em></h4></td>
                                <td class="col-md-1 text-center">{{timeid.price}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <form action="{{url_for('payment', people=people, timeid=timeid)}}" method="POST">
                        <center>
                        <script
                          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                          data-key={{public_key}}
                          data-amount="{{timeid.price}}"
                          data-name="Metro Ticket"
                          data-description="Booking"
                          data-locale="auto"
                          data-zip-code="true">
                        </script>
                        </center>
                      </form>
                </div>
            </div>
        </div>
  </body>
</html>
