{%extends 'base.htm'%}

{%block content%}
<style>
    body{
        overflow-y: hidden !important;
    }
</style>
<center>
<table class="animate__animated animate__fadeInUpBig">
    <th style="border-right-color: rgb(212, 212, 212);">
        Departure From
    </th>
    <th style="border-right-color: white;">
        Departure At:
    </th>
    <th style="border-right-color: white;">
        Departure To:
    </th>
    <th style="border-right-color: white;">
        Arrival At:
    </th>
    <th style="border-left-color: white;">
        Number of Coaches remaining:
    </th>
    {%for t in m%}
    <tr>
        <td>{{t.start_place}}</td>
        <td>{{t.start.strftime('%H-%M')}}</td>
        <td>{{t.end_place}}</td>
        <td>{{t.end.strftime('%H-%M')}}</td>
        <td>{{t.seats}}</td>
    </tr>
    {%endfor%}
</table>
</center>
{%endblock%}
