{%extends 'base.htm'%}

{%block content%}

<table>
    <th>
        Path Name
    </th>
    <th>
        Departure At:
    </th>
    <th>
        Departure From:
    </th>
    <th>
        Last Stop:
    </th>
    <th>
        Number of Coaches:
    </th>
    <tr>
        <td>Cavedom</td>
        <td>7:30 am</td>
        <td>Roadways</td>
        <td>Expressway</td>
        <td>4</td>
    </tr>
    <tr>
        <td>Rockshire</td>
        <td>7:45 am</td>
        <td>Highways</td>
        <td>Trainkata</td>
        <td>4</td>
    </tr>
    <tr>
        <td>Papyrus</td>
        <td>8:15 am</td>
        <td>Expressway</td>
        <td>Metroscow</td>
        <td>7</td>
    </tr>
    <tr>
        <td>Hillton</td>
        <td>8:45 am</td>
        <td>Railport</td>
        <td>Roadways</td>
        <td>6</td>
    </tr>
    <tr>
        <td>Sheetways</td>
        <td>9:10 am</td>
        <td>Metroscow</td>
        <td>Highways</td>
        <td>9</td>
    </tr>
    <tr>
        <td>Hillonary</td>
        <td>9:30 am</td>
        <td>Trainkata</td>
        <td>Expressway</td>
        <td>9</td>
    </tr>
</table>
{%endblock%}
