<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket</title>

</head>
<style>
    .ticket{
    width: 70vw;
    height: 50vh;
    color: black;
    /* background-image: url(); */
    background-size:cover;
    opacity: 0.8;
    background-color: whitesmoke;
    padding: 0;
}
#details{
    opacity: 1;
    z-index: 5;
    
    
    padding: 4%;
}
.gaps{
    height: 17%;
    background-color: black;
    width: 100%;
}
</style>
<body>
    <center>
    <div class="ticket">
        <div class="gaps">

        </div>
        <div id="details">
            <h6>Name:</h6>
            <h6>Number of seats booked:</h6>
            <h6>Name of Train:</h6>
            <h6>Starting Place</h6>
            <h6>Destination:</h6>
            <h6></h6>
        </div>
    </div>
</center>
</body>
</html>